<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/competencia_coorporativa.css">
    <title>Competencias Corporativas</title>
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar">
            <img src="/img/BETROST.png" alt="Logo" class="logo">
        </nav>

        <div class="objetivo-principal">
            <h1>Competencias Corporativas</h1>
            <p class="descripcion">
            </p>

            <!-- Formulario de evaluación -->
            <form class="evaluacion-form">
                <table class="preguntas-table">
                    <thead>
                        <tr>
                            <th>PREGUNTAS</th>
                            <th>Siempre</th>
                            <th>A veces</th>
                            <th>Nunca</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </form>
            <button id="btnSiguiente" class="siguiente-boton">Siguiente</button>
        </div>
    </div>
    <script src="/js/coorporativas.js"></script>
</body>
</html>